*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(239, 242, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    height: 90px;
    box-shadow: 0px 1px;  
}
nav li{
    list-style: none;
    display: inline;
    padding-right: 30px;
}
nav li a{
    text-decoration-line: none;
    font-size: 20px;
    
}
nav ul{
    margin-top: 30px;
}
nav li button{
    height: 40px;
    width: 170px;
    background-color: rgb(89, 115, 201);
    border-radius: 5px;
    border: none;
    color: aliceblue;
}
nav li button:hover{
    transition: all .5s;
    color: black;
    background-color: white;
    border-radius: 10px;
    border:1px solid black
}
nav #logo{
    padding: 10px 10px;
}
.box1{
    margin: 120px 600px ;
    justify-content: space-evenly;
    text-align: center;

}
.box1 #up{
    font-size: 35px;
    line-height: 60px;
}
.box1 #down{
    color: rgb(131, 132, 133);
    padding-top: 10px;
    line-height: 25px;
    font-size: 18px;
}

.box2{
    margin: 120px 600px ;
    justify-content: space-evenly;
    text-align: start;
}
.box2 #f1{
    height: 50px;
    width: 700px;
    font-size: 20px;
    border-radius: 8px;
    padding-left: 10px;
    border-color: rgba(186, 188, 190, 0.452);
}
.box2 #f2{
    height: 300px;
    width: 700px;
    font-size: 20px;
    border-radius: 8px;
    padding-left: 10px;
    border-color: rgba(186, 188, 190, 0.452);
}
.box2 p{
    padding-left: 5px;
    margin-top: 10px;
    font-size: 15px;
}
.box2 input{
    margin-top: 15px;

}
.box2 button{
    margin-top: 30px;
    margin-left: 5px;
    height: 40px;
    width: 170px;
    background-color: rgb(89, 115, 201);
    border-radius: 5px;
    border: none;
    color: aliceblue;
}
.box2 button:hover{
    transition: all .5s;
    color: black;
    background-color: white;
    border-radius: 10px;
    border:1px solid black
}
.box3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.box3 img{
    float: left;
    height: 100px;
    width: 100px;
    margin-right: 10px;
}
.left{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 120px;
    width: 450px;
    border-radius: 12px;
    background-color: white;
    margin: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 50px 0px;
}
.right{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 120px;
    width: 450px;
    border-radius: 12px;
    background-color: white;
    margin: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 50px 0px;
}
.box3 p{
    font-size: 18px;
    padding-bottom: 10px;
}
.box4{
    margin-top: 100px;
}
.box4 table{
  width: 100%;
  text-align: center;
}
.box4 tr a{
    text-decoration-line: none;
    color: black;
}
.box4 td{
    padding-top: 25px;
}
.box4 td #us{
    display: flex;
}
.box4 td #icon{
    width: 25px;
    height: 25px;
    padding: 10px;
}
.box4 th{
    font-size: 20px;
}